.teks {
    margin-top: 7rem;
}

section {
    padding-top: 5rem;
}

@media only screen and (max-width: 500px) {
    .teks {
        text-align: center;
    }

    .gbr {
        margin-right: 5rem;
    }

    img {
        display: block;
    }

    .tks {
        padding-left: 1rem;
    }
}

@media screen and (min-width: 700px) {
  .gbr {
    padding-left: 2rem;
  }
}

@media only screen and (min-width: 1025px) {
  .tks {
    padding-left: 6rem;
  }

  .teks {
    margin-top: 11rem;
}
}
